
.icon-location:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-facebook-official:before { content: '\e802'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */